<h4><%= @entrepreneur.first_name %>'s projects</h4>
<div id="entrepreneur_projects_list">
<ul>
	<% @entrepreneur.projects.each do |project| %>
	<li>
		<%= render partial: "projects/mini_show", locals: { project: project } %>
		<% if current_user && current_user.role == 'admin' %>
			<p><%= link_to "Update this project", edit_entrepreneur_project_url(@entrepreneur, project), method: :get  %></p>
		<% end %>
	</li>
	<% end %>
</ul>
</div>
