<ul>
	<% @entrepreneurs.each do |entrepreneur| %>
		<li>
			<%= link_to "#{entrepreneur.full_name}",
				entrepreneur_url(entrepreneur), method: :get %>
			<br>
			<%= entrepreneur.location %>
		</li>
		<% end %>
</ul>

<% if current_user && current_user.role == "admin" %>
	<%= link_to "Add an entrepreneur to the database", new_entrepreneur_url, method: :get %>
<% end %>