<div class="center">
  <h1>INVESTOURS</h1>
  <p>TOURS THAT FIGHT POVERTY</p>
</div>

<div class="center">
  <div class="note">
    <p>Come meet our entrepreneurs!</p>
  </div>
  <ul>
    <% @entrepreneurs.each do |entrepreneur| %>
      <li>
        <%= link_to "#{entrepreneur.first_name}  #{entrepreneur.last_name}",
          entrepreneur_url(entrepreneur), method: :get %>
      </li>
    <% end %>
  </ul>
</div>

<div>
	<p>So what is it?</p>
	<p>We are a startup non-profit pioneering a new concept in tourism: microfinance tours.</p>
</div>

<div>
	<h4>And what can I do?</h4>
	<ul>
		<li>
			<span>Learn about our locations</span>
		</li>
		<li>
			<span>This is how you get involved</span>
		</li>
		<li>
			<span>Find a trip and sign up to join us</span>
			<span>Our upcoming regularly scheduled tours are listed below.</span>
			<br>
			<%= link_to "View All", tours_url, method: :get %>
		</li>
	</ul>
</div>