<div id="sign_up_form" class="modalDialog">
	<div>
			<a href="#close" title="Close" class="close">X</a>
			<h2>Please fill the following fields</h2>
			<label for="email">email</label>
			<input id="email" type="text" value="<%= current_user.email %>">
			<input type="Submit" value="Sign Up">
		</div>
</div>
