<h1>All Tours</h1>

<ul>
	<% @tours.each do |tour| %>
		<li>
			<%= link_to "#{tour.location}",
				tour_url(tour), method: :get %> on <%= tour.date %> 
		</li>
		<% end %>
</ul>

<div>
	<%= link_to_function "Back", "history.back()" %>
</div>