<h1>All Tours</h1>

<ul>
	<% @tours.each do |tour| %>
		<li>
			<%= link_to "#{tour.location}",
				tour_url(tour), method: :get %>
			<br>
			<p>from <%= tour.start_date %> to <%= tour.end_date %></p>
		</li>
		<% end %>
</ul>
