<div>
	<p>$<%= project.amount_raised %> raised. $<%= project.fundraising_goal %> needed.</p>
	<div class='meter'>
		<span style="width: <%= project.progress_status %>%"></span>
	</div>
</div>


<script type="text/javascript">
	$(function () {
		animateProgressBar();	
	})
</script>