<% if project.fully_funded? %>
	<div>Repayment Status</div>
	<%= render partial: "projects/repayment_status", locals: { project: project } %>
<% else %>
	<div>Progress Status</div>
	<%= render partial: "projects/progress_status", locals: { project: project } %>
<% end %>