<% if project.fully_funded? %>
	<div>Repaying Loans</div>
	<%= render partial: "projects/repayment_status", locals: { project: project } %>
<% else %>
	<div>Fundraising</div>
	<%= render partial: "projects/progress_status", locals: { project: project } %>
<% end %>