<div>
	<h2>Project Updates</h2>
	<% if updates.empty? %>
		<div>No updates yet.</div>
	<% else %>
		<ul>
			<% updates.each do |update| %>
				<li>
					<%= render partial: "update", locals: { update: update } %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<% if user_is_admin? %>
		<%= render partial: "new_update", locals: { project: @project } %>
	<% end %>
</div>