<h1>Update Project: <%= @project.title %></h1>

<%= render 'form', locals: { project: @project } %>

<%= link_to 'Show', entrepreneur_project_url(@entrepreneur, @project) %> |
<%= link_to 'Back', entrepreneur_project_url(@project.entrepreneur) %>
