<h1><%= current_user.full_name %></h1>
<div id="header"> 
	
	<div class="tabs">
    
	   <div class="tab">
	       <input type="radio" id="tab-1" name="tab-group-1" checked>
	       <label for="tab-1">My Loans</label>
       
	       <div class="content scroll">
					 <%= render "my_loans" %>
	       </div>
	   </div>
    
	   <div class="tab">
	       <input type="radio" id="tab-2" name="tab-group-1">
	       <label for="tab-2">My Groups</label>
       
	       <div class="content scroll">
	           groups
	       </div> 
	   </div>
    
	    <div class="tab">
	       <input type="radio" id="tab-3" name="tab-group-1">
	       <label for="tab-3">My MFI's</label>
     
	       <div class="content scroll">
					 MFI's
	       </div> 
	   </div>
    
	</div>
</div>

<%= render "admin_tools" if current_user && current_user.role == "admin" %>
