body {
	background: #e9d4b3;
	font: arial;
}

.centered {
	margin: 0 auto;
	text-align: center;
}

.one-third-width {
	width: 33.3%;
}

.two-third-width {
	width: 66.6%;
}

.ten-padding {
	padding: 10px;
}

.inline {
	display: inline;
}

ul {
	list-style-type: none;
}