.navbar-text {
	background: black;
	padding: 1px;
}

.navbar-text a {
	text-decoration: none;
	color: beige;
}

.navbar-text li {
	display: inline;
}

.nav {
	position: relative;
}

.dropdown {
	position: absolute;
	text-align: left;
	padding: 5px;
	background: black;
}

.dropdown li {
	display: none;
}

.dropdown-toggle:hover li {
	display: block;
}

.center-text {
	text-align: center;
}